
<ActionBar title = "Featured">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    
</ActionBar>

<ScrollView orientation="vertical">
    <FlexboxLayout flexDirection="column">
      <FlexboxLayout class="tileBox" id="legpressRecommendation">
          <GridLayout rows = "auto, auto, auto, auto, auto" columns = "*, *">
        <Label text="Training Exercise:" pageTransition = "fade" row = "0" col = "0" class = "headers"></Label>
        <Label text="Training Type:" pageTransition = "fade" row = "1" col = "0" class = "headers"></Label>
        <Label text="Number of Sets:" pageTransition = "fade" row = "2" col = "0" class = "headers"></Label>
        <Label text="Number of Repetitions:" pageTransition = "fade" row = "3" col = "0" class = "headers"></Label>
        <Label text="Muscles:" pageTransition = "fade" row = "4" col = "0" class = "headers"></Label>
        <Label text="Lep Press" pageTransition = "fade" row = "0" col = "1" class = "values"></Label>
        <Label text="Strength" pageTransition = "fade" row = "1" col = "1" class = "values"></Label>
        <Label text="3" pageTransition = "fade" row = "2" col = "1" class = "values"></Label>
        <Label text="15" pageTransition = "fade" row = "3" col = "1" class = "values"></Label>
        <Label text="Leg Biceps" pageTransition = "fade" row = "4" col = "1" class = "values"></Label>
        </GridLayout>
      </FlexboxLayout>
  
      <FlexboxLayout class="space"></FlexboxLayout>
  
      <FlexboxLayout class="tileBox" id="pushupsRecommendation">
        <GridLayout rows = "auto, auto, auto, auto, auto" columns = "*, *">
            <Label text="Training Exercise:" pageTransition = "fade" row = "0" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Training Type:" pageTransition = "fade" row = "1" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Number of Sets:" pageTransition = "fade" row = "2" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Number of Repetitions:" pageTransition = "fade" row = "3" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Muscles:" pageTransition = "fade" row = "4" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Pushups" pageTransition = "fade" row = "0" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="Strength" pageTransition = "fade" row = "1" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="3" pageTransition = "fade" row = "2" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="15" pageTransition = "fade" row = "3" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="Breast, Triceps, Shoulder" pageTransition = "fade" row = "4" col = "1" class = "values" textWrap = "true"></Label>
            </GridLayout>
      ></FlexboxLayout>
  
      <FlexboxLayout class="space"></FlexboxLayout>
  
      <FlexboxLayout class="tileBox" id="treadmillRecommendation">
        <GridLayout rows = "auto, auto, auto, auto, auto" columns = "*, *">
            <Label text="Training Exercise:" pageTransition = "fade" row = "0" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Training Type:" pageTransition = "fade" row = "1" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Number of Sets:" pageTransition = "fade" row = "2" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Duration:" pageTransition = "fade" row = "3" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Muscles:" pageTransition = "fade" row = "4" col = "0" class = "headers" textWrap = "true"></Label>
            <Label text="Treadmill" pageTransition = "fade" row = "0" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="Endurance" pageTransition = "fade" row = "1" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="3" pageTransition = "fade" row = "2" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="5 minutes" pageTransition = "fade" row = "3" col = "1" class = "values" textWrap = "true"></Label>
            <Label text="Heart Muscle, Calves " pageTransition = "fade" row = "4" col = "1" class = "values" textWrap = "true"></Label>
            </GridLayout>
    </FlexboxLayout>
  </FlexboxLayout>
  </ScrollView>