<ActionBar title = "Home">
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton
    ios:visibility="collapsed"
    icon="res://menu"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>
  <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
  <ActionItem
    icon="res://menu"
    android:visibility="collapsed"
    (tap)="onDrawerButtonTap()"
    ios.position="left"
  >
  </ActionItem>
  
</ActionBar>

<!-- <GridLayout class="page__content">
   <StackLayout>
        <Label class="tile" text="hello this is tile one"  ></Label>
        <Label class="tile" text="hello this is tile two" ></Label>
   </StackLayout>
</GridLayout> -->

<ScrollView orientation="vertical">
  <FlexboxLayout flexDirection="column">
    <FlexboxLayout class="tileBox" id="workoutlog">
      <Label
        text="Log your Workout"
        [nsRouterLink]="['/workoutlog']"
        pageTransition="fade"
      ></Label>
    </FlexboxLayout>

    <FlexboxLayout class="space"></FlexboxLayout>

    <FlexboxLayout class="tileBox" id="caloriecalc">
      <Label
        text="Calculate your Calorie intake"
        [nsRouterLink]="['/caloriecounter']"
        pageTransition="fade"
      ></Label
    ></FlexboxLayout>

    <FlexboxLayout class="space"></FlexboxLayout>

    <FlexboxLayout class="tileBox" id="featured">
      <Label
        text="Suggested Workouts"
        [nsRouterLink]="['/featured']"
        pageTransition="fade"
      ></Label
    ></FlexboxLayout>

    <FlexboxLayout class="space"></FlexboxLayout>

    <FlexboxLayout class="tileBox" id="search">
      <Label
        text="Search for something specific"
        [nsRouterLink]="['/search']"
        pageTransition="fade"
      ></Label
    ></FlexboxLayout>

    <FlexboxLayout class="space"></FlexboxLayout>

    <FlexboxLayout class="tileBox" id="setting">
      <Label
        text="Change Settings"
        [nsRouterLink]="['/settings']"
        pageTra
        nsition="fade"
      ></Label
    ></FlexboxLayout>
  </FlexboxLayout>
</ScrollView>
