/*Label, auf dem Homescreen, die auf die einzelnen Seiten verlinken*/
.space {
  height: 20;
}

/*Flexboxlayout, das die einzelnen Labels in einer Flexbox einkesselt*/
.tileBox {
  margin: 2% !important;
  width: 96%;
  height: 170;
  font-size: 20vh;
  border-radius: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #2fa6c6;
}

/*Einzlne Label; Zum Hintergrund festlegen und individualisieren.*/
#workoutlog {
  background-color: antiquewhite;
  background-blend-mode: normal;
}

#caloriecalc {
  background-color: #8cf477;
}
