<ActionBar>
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton
    ios:visibility="collapsed"
    icon="res://menu"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>
  <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
  <ActionItem
    icon="res://menu"
    android:visibility="collapsed"
    (tap)="onDrawerButtonTap()"
    ios.position="left"
  >
  </ActionItem>
  <Label text="Workoutlog Details"></Label>
</ActionBar>

<!-- <GridLayout class="page__content">
</GridLayout> -->

<StackLayout style="color: black" class="body">
  <Label
   text = "Datum: 25. September 2020"
   class="title"
  ></Label>

  <Label class="trainingsname" text="Bauchtraining"></Label>

  <StackLayout class="uebungsdivision">
    <Label class="littleTitle" text="Übungen"></Label>
    <StackLayout class="exercize">
      <Label class="uebungsliste" text="Sit ups"></Label>
      <Label class="uebungsliste" text="Übung 2"></Label>
      <Label class="uebungsliste" text="Übung 3"></Label>
    </StackLayout>
    <Button text="Add Exercize" ></Button>
  </StackLayout>

  <StackLayout class="uebungsdivision">
    <Label class="littleTitle" text="Notizen"></Label>
    <TextView></TextView>
  </StackLayout>

  <Button text="Save" (tap)="saveTraining()"></Button>
  
</StackLayout>
