.progress{
    color: lightgreen;
    background-color: gray;
    height: 40;
    margin-left: 20;
    margin-right: 20;
}
  
.staticText{
    font-weight: 700;
    font-size: 16px;
    color: black;
    height: 40;
    vertical-align: center;
    text-align: center;
    margin: 5;
}

.properties{
    font-weight: 700;
    font-size: 16px;
    color: lightseagreen;
    height: 40;
    vertical-align: center;
    text-align: center;
    margin: 5;
}

.grid{
    margin-top: 20;
}
